@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open Sans";
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#main-header th {
    text-align: center;
}

.buy-stock {
    background-color: transparent;
    border: solid 3px lightseagreen;
    border-radius: 5px;    
    cursor: pointer;

    transition-duration: 0.2s;
}

.buy-stock:hover {
    background-color: lightseagreen;
}

.sell-stock {
    background-color: transparent;
    border: solid 3px tomato;
    border-radius: 5px;
    cursor: pointer;

    transition-duration: 0.2s;
}

.sell-stock:hover {
    background-color: tomato;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper .section {
    width: 50vw;
}

#increment {
    float: right;
    margin: 0 2em 0 0;
    cursor: pointer;
    background-color: transparent;
    border: solid 3px #34a4eb;
    border-radius: 5px;
    font-size: 1.2rem;
}